
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    color:dodgerblue;
    border-bottom: 16px solid dodgerblue;
    animation: lod 2s linear infinite;
    overflow: hidden;
}








